<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.tvbarthel.apps.cameracolorpicker">

    <!-- Camera ! -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CCPTheme.Light">

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="fullSensor"
            android:theme="@style/CCPTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.ColorPickerActivity"
            android:label="@string/activity_color_picker_label"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="fullSensor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />

            <intent-filter>
                <action android:name="org.openintents.action.PICK_COLOR" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.ColorDetailActivity"
            android:label="@string/activity_color_detail_label"
            android:screenOrientation="fullSensor" />

        <activity
            android:name=".activities.PaletteDetailActivity"
            android:label="@string/activity_palette_detail_label"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="fullSensor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.tvbarthel.apps.cameracolorpicker.activities.MainActivity" />
        </activity>

        <activity
            android:name=".activities.LicenseActivity"
            android:label="@string/activity_license_label"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="fullSensor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <activity
            android:name=".activities.PaletteCreationActivity"
            android:label="@string/activity_palette_creation_label"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="fullSensor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

    </application>

</manifest>
