<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="fr.tvbarthel.apps.cameracolorpicker"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Camera ! -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CCPTheme.Light" >

        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/CCPTheme.NoActionBar"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.ColorPickerActivity"
            android:label="@string/activity_color_picker_label"
            android:parentActivityName=".activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <activity
            android:name=".activities.ColorDetailActivity"
            android:label="@string/activity_color_detail_label"/>

        <activity
            android:name=".activities.PaletteDetailActivity"
            android:label="@string/activity_palette_detail_label"
            android:parentActivityName=".activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.tvbarthel.apps.cameracolorpicker.activities.MainActivity" />
        </activity>

        <activity
            android:name=".activities.LicenseActivity"
            android:label="@string/activity_license_label"
            android:parentActivityName=".activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <activity
            android:name=".activities.PaletteCreationActivity"
            android:label="@string/activity_palette_creation_label"
            android:parentActivityName=".activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

    </application>

</manifest>
